CREATE DATABASE Farmacia;

USE Farmacia;

CREATE TABLE producto (
  id INT AUTO_INCREMENT PRIMARY KEY,
  Nombre VARCHAR(255)NOT NULL,
  Precio DECIMAL(10,5)NOT NULL,
  Descripcion TEXT,
  Stock INT NOT NULL
);

CREATE TABLE Cliente (
  id INT AUTO_INCREMENT PRIMARY KEY,
  Nombre VARCHAR(255) NOT NULL,
  Direccion VARCHAR(255) NOT NULL,
  Telefono TEXT NOT NULL
);

CREATE TABLE Empleados (
  id INT AUTO_INCREMENT PRIMARY KEY,
  Nombre VARCHAR(255) NOT NULL,
  Puesto VARCHAR(255) NOT NULL,
  Salario DECIMAL(10,5) NOT NULL
);

CREATE TABLE ventas (
    id INT AUTO_INCREMENT PRIMARY KEY,
    cliente_id INT NOT NULL,
    empleado_id INT NOT NULL,
    producto_id INT NOT NULL,
    cantidad INT NOT NULL,
    fecha_venta DATETIME NOT NULL
);

INSERT INTO producto(nombre, descripcion, precio, stock)
VALUES
('paracetamol', 'apto para dolor de cabeza', '250', '25'),
('ibuprofeno', 'sirve para la resaca', '300', '45'),
('amoxilina', 'para el dolor de garganta', '700', '100');

INSERT INTO cliente(nombre, direccion, telefono)
VALUES
('Juan Pérez', 'estados unidos 3456', '351 7653245'),
('Maria Lopez', 'av, colon 34', '351 4532342');

INSERT INTO Empleados(nombre, puesto, salario)
VALUES
('Carlos García', 'Cajero', '34.500'),
('Ana Torres', 'Gerente', '65.300');

INSERT INTO ventas (cliente, producto, empleado, cantidad, fecha)
VALUES
('Juan Pérez', 'amoxilina', 'Ana Torres', '3', '23/12/23'),
('Maria Lopez', 'ibuprofeno', 'Carlos Garcia','5', '12/10/23');